<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        .Top_logo {
            height: 120px;
            display: flex;
            box-shadow:10px 10px 5px #888888;
            /*border: 1px solid;*/
        }

            .Top_logo a {
                /*border: 1px solid;*/
                text-align: center;
                flex: 1;
                line-height: 120px;
                list-style: none;
            }

        .Logo {
            width: 100px;
            height: 120px;
            text-align: center;
            /*border:1px solid;*/
            flex: 1;
        }

        .Top_nav {
            opacity: 0.5;
            background-color: white;
            /*border: 1px solid;*/
        }

            .Top_nav ul {
                margin: 0px 20% 0px 20%;
                height: 300%;
                line-height: 300%;
                display: flex;
                /*border: 1px solid;*/
            }

            .Top_nav li {
                width: 100%;
                text-align: center;
                list-style: none;
                flex: 1;
                font-size: 15px;
                /*border: 1px solid;*/
            }

                .Top_nav li:hover {
                    background-color: pink;
                    color: white;
                }

        .Top_back {
            height: 350px;
            background-repeat: no-repeat;
            background-size: auto;
            background-image: url("Images/1.jpg");
            width: 100%;
            background-size: 100% auto;
            background-repeat: no-repeat;
            position: relative;
        }
    </style>
</head>
<body>
    <div class="Top_logo">
        <dl class="Logo">
            <dt>
                <img src="~/Images/logo.jpg" /></dt>
            <dd>Blue King</dd>
            <dd>蓝电霸王有限公司</dd>
        </dl>
        <a href="~/Login/Index">亲爱的用户，欢迎登录</a>
    </div>
    <div class="Top_back">
        <div class="Top_nav">
            <ul>
                <li><strong>@Html.ActionLink("首页", "GotoIndex", new { }, new { style = "text-decoration:none;color:black;padding:13px 80px 13px 80px;" })</strong></li>
                <li><strong>@Html.ActionLink("充值中心", "GotoIndex", new { }, new { style = "text-decoration:none;color:black;padding:13px 60px 13px 60px;" })</strong></li>
                <li><strong>@Html.ActionLink("查询流水", "GotoIndex", new { }, new { style = "text-decoration:none;color:black;padding:13px 60px 13px 60px;" })</strong></li>
                <li><strong>@Html.ActionLink("新闻中心", "GotoIndex", new { }, new { style = "text-decoration:none;color:black;padding:13px 60px 13px 60px;" })</strong></li>
                <li><strong>@Html.ActionLink("在线服务", "GotoIndex", new { }, new { style = "text-decoration:none;color:black;padding:13px 60px 13px 60px;" })</strong></li>
                <li><strong>@Html.ActionLink("关于我们", "GotoIndex", new { }, new { style = "text-decoration:none;color:black;padding:13px 60px 13px 60px;" })</strong></li>
            </ul>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="bot">
        <div class="bot_left">
           
        </div>
        <div class="bot_right">

        </div>
    </div>
</body>
</html>
