@{
    ViewBag.Title = "个人信息";
    Layout = "~/Views/Shared/home.cshtml";
}
@model  卓越项目.Models.User

<style>
    table {
        margin-top:2%;
        font-size:25px;
    width:50%;
    }
    tr {
        height: 50px;
        margin-top:30px;
    }
    .td1 {
    letter-spacing:5px;
    font-weight:600;
    }
    td {
    text-align:center;
    }
</style>
<div class="container-fluid">
    <div class="container-fluid cm-container-white" style="background-color: white; margin: auto auto auto -1.2%; width: 102.5%;">
        <h1 style="font-weight:900;text-align:center;color:#0f8ab4">用户信息</h1>
       
        <div style="display:flex;justify-content:center">
            <table >
                <tr>
                    <td class="td1">
                        姓名:
                    </td>
                    <td>
                        @Model.name
                    </td>
                </tr>
                <tr>
                    <td class="td1">
                        电话:
                    </td>
                    <td>
                        @Model.phone
                    </td>
                </tr>
                <tr>
                    <td class="td1">
                        账户余额:
                    </td>
                    <td>
                        @Model.money 元
                    </td>
                </tr>
                <tr>
                    <td class="td1">
                        登录时间:
                    </td>
                    <td>
                        @Model.time
                    </td>
                </tr>
                <tr>
                    <td class="td1">
                        管理员:
                    </td>
                    <td>
                        @ViewBag.boss.name
                    </td>
                </tr>
                <tr>
                    <td class="td1">
                        管理员电话:
                    </td>
                    <td>
                        @ViewBag.boss.phone
                    </td>
                </tr>
                <tr>
                    <td class="td1">
                        房间:
                    </td>
                    <td>
                        @ViewBag.fang.dong @ViewBag.fang.danyuan 单元 @ViewBag.fang.louceng 楼 @ViewBag.fang.fangjian 号
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="~/User/xiugai?id=@Session["id"]" style="padding:15px 30px;font-size:24px" class="btn btn-info">修改信息</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>